---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

const title = "Blog";
const description =
  "A collections of thoughts, either related to animal rights, philosophy, minimalism or programming.";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout title={`${title} - Stephan Builds`} description={description}>
  <main class="container mx-auto max-w-2xl space-y-16">
    <div class="m-auto max-w-md space-y-8 text-center leading-normal">
      <h2 class="text-3xl">{title}</h2>
      <p>{description}</p>
    </div>
    <div class="flex flex-col divide-y dark:divide-gray-800">
      {
        posts.map((post) => (
          <a
            class="flex flex-col gap-2 py-5"
            href={`/blog/${post.slug}`}
            rel="prefetch-intent"
          >
            <span class="flex-1 text-lg text-gray-800 dark:text-gray-200">
              {post.data.title}
            </span>
            <div class="text-gray-600 dark:text-gray-400">
              {post.data.description}
            </div>
          </a>
        ))
      }
    </div>
  </main>
</DefaultLayout>
