---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ListItem from "../../components/ListItem.astro";

const title = "Blog";
const description =
  "A collections of thoughts, either related to animal rights, philosophy, minimalism or programming.";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout title={title} description={description}>
  <main
    class="mx-auto flex w-full max-w-[65ch] flex-col gap-8 py-12 leading-normal"
  >
    <div class="flex flex-col gap-8 px-6">
      <h1 class="text-3xl">{title}</h1>
      <p class="text-balance">{description}</p>
    </div>

    <div class="flex flex-col gap-4 px-2">
      {
        posts.map((post) => (
          <ListItem
            href={`/blog/${post.slug}`}
            title={post.data.title}
            description={post.data.description}
            imageUrl={post.data.hero}
            imageAlt={post.data.heroAlt}
          />
        ))
      }
    </div>
  </main>
</DefaultLayout>
