---
import { getCollection } from "astro:content";
import Root from "../../layouts/root.astro";
import ListItem from "../../components/list-item.astro";

export const prerender = true;

const title = "Blog";
const description =
  "A collections of thoughts, either related to animal rights, philosophy, minimalism or programming.";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Root title={title} description={description}>
  <main
    class="mx-auto flex w-full max-w-[65ch] flex-col gap-8 py-6 leading-normal md:py-12"
  >
    <div class="flex flex-col gap-8 px-6">
      <h1 class="text-2xl/normal font-medium md:text-3xl/normal">{title}</h1>
      <p class="text-pretty">{description}</p>
    </div>

    <div class="flex flex-col gap-4 px-2">
      {
        posts.map((post) => (
          <ListItem
            href={`/blog/${post.slug}`}
            title={post.data.title}
            description={post.data.description}
            imageUrl={post.data.hero}
            imageAlt={post.data.heroAlt}
          />
        ))
      }
    </div>
  </main>
</Root>
