---
import { getCollection } from "astro:content";
import Article from "../../layouts/article.astro";

export const prerender = true;

export async function getStaticPaths() {
  const [projects, sideProjects] = await Promise.all([
    getCollection("projects"),
    getCollection("side-projects"),
  ]);

  return [...projects, ...sideProjects]
    .filter((project) => !project.data.draft)
    .map((project) => ({
      params: { slug: project.slug },
      props: project,
    }));
}

const project = Astro.props.data;
const { Content } = await Astro.props.render();
---

<Article
  title={project.title}
  description={project.description}
  hero={project.imageUrl}
  heroAlt=""
>
  <Fragment slot="subtitle">
    <span>{project.when}</span>
    {
      project.client.discriminant && (
        <span>
          for{" "}
          <a
            class="hover:text-foreground underline underline-offset-2"
            href={project.client.value.website}
          >
            {project.client.value.name}
          </a>
        </span>
      )
    }
  </Fragment>
  <Content />
</Article>
