---
import { getCollection, render } from "astro:content";
import Article from "../../layouts/article.astro";

export const prerender = true;

export async function getStaticPaths() {
  const [projects, sideProjects] = await Promise.all([
    getCollection("projects"),
    getCollection("side-projects"),
  ]);

  return [...projects, ...sideProjects]
    .filter((project) => !project.data.draft)
    .map((project) => ({
      params: { slug: project.id },
      props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Article
  title={project.data.title}
  description={project.data.description}
  hero={project.data.hero}
  heroAlt={project.data.heroAlt}
>
  <Fragment slot="subtitle">
    <span>{project.data.when}</span>
    {
      project.data.client.discriminant && (
        <span>
          for{" "}
          <a
            class="hover:text-foreground underline underline-offset-2"
            href={project.data.client.value.website}
          >
            {project.data.client.value.name}
          </a>
        </span>
      )
    }
  </Fragment>
  <Content />
</Article>
