---
import { Image } from "astro:assets";
import Root from "./root.astro";

interface Props {
  description?: string;
  hero?: any; // FIXME
  heroAlt?: string | undefined;
  image?: string;
  title: string;
}

const { description, hero, heroAlt = "", image, title } = Astro.props;
---

<Root title={title} description={description} image={image}>
  <article
    class="mx-auto flex w-full max-w-[65ch] flex-col gap-8 py-6 leading-normal md:py-12"
  >
    <div class="flex flex-col gap-8 px-6">
      <h1 class="text-2xl/normal font-medium md:text-3xl/normal">{title}</h1>
      <div class="text-stone-600 dark:text-stone-400">
        <slot name="subtitle" />
      </div>
      <div class="hero-image">
        {
          hero && (
            <div class="flex aspect-2/1 rounded-sm bg-stone-100 select-none dark:bg-stone-900">
              <Image
                class="aspect-2/1 rounded-md object-cover"
                data-zoomable
                width={587}
                height={294}
                src={hero}
                alt={heroAlt}
                loading="eager"
                layout="full-width"
              />
            </div>
          )
        }
      </div>
      <div class="prose dark:prose-invert">
        <slot />
      </div>
      <div
        class="pointer-events-none fixed inset-0 grid h-full w-full place-items-center"
      >
        <div class="zoom-container h-full w-full max-w-252 md:p-6"></div>
      </div>
    </div>
  </article>

  <script>
    import mediumZoom from "medium-zoom";

    mediumZoom("[data-zoomable]", {
      background: "var(--color-background)",
      container: ".zoom-container",
    });
  </script>
</Root>
